In [1]:
import pandas as pd
from prepare import Prepare
pd.options.display.max_columns = 30

In [2]:
zillow = Prepare().wrangle_zillow()
zillow.head()

/Users/dragonzord/Documents/SchoolDocs/codeup-data-science/exercises/methodologies1/clustering/zillow_clustering/prepare.py:11: DtypeWarning: Columns (63) have mixed types.Specify dtype option on import or set low_memory=False.
  df = Acquire().get_zillow_data()

,parcel_id,bathroom_count,bedroom_count,home_size_square_feet,fips,garage_car_count,latitude,longitude,lot_size_square_feet,raw_census_tract_and_block,region_id_city,region_id_county,region_id_zip,room_count,year_built,structure_tax_value_price,tax_value_dollar_count,assessment_year,land_tax_value_price,tax_amount,census_tract_and_block,log_error,transaction_date,county
1,17052889,1.0,2,1465.0,6111,1.0,34449266.0,-119281531.0,12647.0,6.111001e+07,13091,2061,97099,5,1967,88000.0,464000.0,2016,376000.0,5672.48,6.111001e+13,0.055619,2017-01-01,Ventura
2,14186244,2.0,3,1243.0,6059,2.0,33886168.0,-117823170.0,8432.0,6.059022e+07,21412,1286,97078,6,1962,85289.0,564778.0,2016,479489.0,6488.30,6.059022e+13,0.005383,2017-01-01,Orange
5,17143294,2.0,3,1492.0,6111,2.0,34230044.0,-118993991.0,903.0,6.111005e+07,51239,2061,97091,6,1982,198640.0,331064.0,2016,132424.0,3508.10,6.111005e+13,-0.020526,2017-01-01,Ventura
13,13944538,2.5,3,1340.0,6059,2.0,33771438.0,-117982834.0,1199.0,6.059089e+07,24832,1286,97051,6,1980,96617.0,319668.0,2016,223051.0,4078.08,6.059089e+13,0.045602,2017-01-02,Orange
15,17110996,2.5,3,1371.0,6111,2.0,34238229.0,-119170633.0,3445.0,6.111005e+07,13150,2061,97107,5,2004,99026.0,198054.0,2016,99028.0,2204.84,6.111005e+13,0.008669,2017-01-02,Ventura

In [3]:
zillow.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16206 entries, 1 to 77571
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   parcel_id                   16206 non-null  int64
 1   bathroom_count              16206 non-null  float64
 2   bedroom_count               16206 non-null  int64
 3   home_size_square_feet       16206 non-null  float64
 4   fips                        16206 non-null  int64
 5   garage_car_count            16206 non-null  float64
 6   latitude                    16206 non-null  float64
 7   longitude                   16206 non-null  float64
 8   lot_size_square_feet        16206 non-null  float64
 9   raw_census_tract_and_block  16206 non-null  float64
 10  region_id_city              16206 non-null  int64
 11  region_id_county            16206 non-null  int64
 12  region_id_zip               16206 non-null  int64
 13  room_count                  16206 non-null  int64
 14  year_built                  16206 non-null  int64
 15  structure_tax_value_price   16206 non-null  float64
 16  tax_value_dollar_count      16206 non-null  float64
 17  assessment_year             16206 non-null  int64
 18  land_tax_value_price        16206 non-null  float64
 19  tax_amount                  16206 non-null  float64
 20  census_tract_and_block      16206 non-null  float64
 21  log_error                   16206 non-null  float64
 22  transaction_date            16206 non-null  datetime64[ns]
 23  county                      16206 non-null  object
dtypes: datetime64[ns](1), float64(13), int64(9), object(1)
memory usage: 3.1+ MB

In [4]:
zillow.describe()

,parcel_id,bathroom_count,bedroom_count,home_size_square_feet,fips,garage_car_count,latitude,longitude,lot_size_square_feet,raw_census_tract_and_block,region_id_city,region_id_county,region_id_zip,room_count,year_built,structure_tax_value_price,tax_value_dollar_count,assessment_year,land_tax_value_price,tax_amount,census_tract_and_block,log_error
count,1.620600e+04,16206.000000,16206.000000,16206.000000,16206.000000,16206.000000,1.620600e+04,1.620600e+04,1.620600e+04,1.620600e+04,16206.000000,16206.000000,16206.000000,16206.000000,16206.000000,1.620600e+04,1.620600e+04,16206.0,1.620600e+04,16206.000000,1.620600e+04,16206.000000
mean,1.526383e+07,2.285820,3.309885,1849.455017,6076.853141,1.854930,3.390788e+07,-1.182484e+08,8.749425e+03,6.076896e+07,29903.942922,1552.080464,96913.176910,6.605023,1971.577934,1.587676e+05,4.591073e+05,2016.0,3.003397e+05,5241.779641,6.076896e+13,0.020760
std,2.795441e+06,0.756442,0.916298,806.522761,24.691422,0.547522,2.627173e+05,5.524734e+05,2.657411e+04,2.466434e+05,12960.264922,367.997150,281.009564,1.518918,15.757600,1.345480e+05,3.923229e+05,0.0,3.103631e+05,4229.594021,2.466433e+11,0.174268
min,1.383453e+07,1.000000,1.000000,400.000000,6059.000000,0.000000,3.339233e+07,-1.194484e+08,2.360000e+02,6.059001e+07,5465.000000,1286.000000,96116.000000,1.000000,1880.000000,3.066000e+03,9.242000e+03,2016.0,2.784000e+03,49.180000,6.059001e+13,-2.922919
25%,1.409550e+07,2.000000,3.000000,1290.000000,6059.000000,2.000000,3.370287e+07,-1.188367e+08,5.950000e+03,6.059053e+07,18874.000000,1286.000000,96963.000000,6.000000,1962.000000,7.679400e+04,2.294610e+05,2016.0,1.091112e+05,2711.095000,6.059053e+13,-0.019399
50%,1.437797e+07,2.000000,3.000000,1652.500000,6059.000000,2.000000,3.383569e+07,-1.179608e+08,7.200000e+03,6.059089e+07,27110.000000,1286.000000,97007.000000,7.000000,1971.000000,1.236360e+05,3.836005e+05,2016.0,2.319530e+05,4451.850000,6.059089e+13,0.007274
75%,1.713131e+07,2.500000,4.000000,2200.000000,6111.000000,2.000000,3.419407e+07,-1.178306e+08,8.067500e+03,6.111004e+07,38032.000000,2061.000000,97081.000000,8.000000,1979.000000,1.947195e+05,5.695440e+05,2016.0,4.002948e+05,6485.750000,6.111004e+13,0.037235
max,1.629608e+08,8.000000,9.000000,7770.000000,6111.000000,14.000000,3.447051e+07,-1.175723e+08,2.539984e+06,6.111009e+07,54970.000000,2061.000000,97119.000000,14.000000,2016.000000,2.363674e+06,4.961367e+06,2016.0,4.847224e+06,52419.760000,6.111009e+13,2.594213